body {
  background-image: url("https://static1.squarespace.com/static/557e7c87e4b00198d21b4e57/t/5ad06b182b6a28b7eaa7f398/1523608358474/contact-background-images.png?format=1500w");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}